.card{
@include flexCol();
width: 21%;
margin: auto;
align-items: center;
margin-bottom: 2%;

    &__img{
        width: 80%;
        text-align: center;
        margin-bottom: 20%;

    }

    &__info{
        width: 80%;
        @include flexCol();
        justify-content: space-between;
        
        &__text{
            font-weight: bold;
            align-items:center ;
            width: 100%;
            @include flexRow;
            justify-content: space-between;

            &__title{
                text-transform: uppercase;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap
            }

            &__price{

            }
        }


        &__link{
            width: 50%;
            text-align: right;

            &__button{
                @include button();
                display: inline;
            }
        }
        
    }
}