.filters{
width: 20%;
margin-top: 2%;
text-align: left;
position: fixed;
    &__list{
        
        
        &__item{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1rem;
            padding-top: 10%;
        }
    }
}