header{
    background-color: $secondarybg;
    padding: 1%;
    border-bottom: solid 5px $maincolor;
    position: fixed;
    top: 0px;
    z-index: 1;
   width: 100%;
}

.navbar{
    margin-right: auto;
    width: 95%;
    @include flexRow();
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;

    ul:nth-child(2){
        margin-left: auto;
        justify-content: flex-end;
        li:nth-child(1){
            margin-right: 2rem;
        }
    }

    li a:hover{
        color: $maincolor;
    }
    
    &__list{
        padding: 0;
        width: 100%;
        list-style-type: none;
        @include flexRow();
        justify-content: space-between;
        align-items: center;

        li:nth-child(1){
            text-align: center;
        }

        // Menu deroulant

        &__deroulant_declencheur{
            cursor: pointer;
        }

        &__deroulant{
            display: none;
            position: absolute;
            background: $primarybg;
            padding: 1%;
            padding-top: 0;

            &__item{

            }
        }

        &__deroulant_declencheur:hover ul{
            display: list-item;
        }
        &__deroulant_declencheur:hover ul li{
            float: none;
            margin-top: 10%;
        }

        // Menu deroulant


        &__logo{
            
            img{
                width: 50%;
            }
            &__second{
                width: 50%;
            }
        }
    }

    &__list:nth-child(2){
        width: 50%;
    }
}
