.cart {
    width: 100%;
    margin: 0;
    font-size: 0.9rem;

    th{
        text-align: center;
    }
    td {
        text-align: center;
    }
    td:not(:nth-child(1)){
        width: 20%;
    }
    th:nth-child(2){
        text-align: left;
    }

    &__products {

        &__img {
            img {

                width: 20vh;
            }
        }

        &__delete{
            img{
                width: 20%
            }
        }
        &__item {
            @include flexCol;
            justify-content: space-between;
            width: 80vh;
            text-align: left;

            &__desc {
                width: 90%;
                margin-top: 5%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap
            }
            &__name{
                color: $maincolor;
            }
        }

        &__quantity {

            &__value {
                margin: 0 5%;
            }

            &__button {
                @include button();
                display: inline;
                padding: 10px;
                line-height: 0.5em;
            }
        }
    }
}

.commander{
    
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button{
        margin-top: 20%;
        @include button;
    }
}
.cartpage{
    @include flexRow;
    width: 100%;
    margin: 2%;
}

.empty {
    width: 100%;
    display: flex;
    justify-content: center;
}