@mixin flexRow {
    display: flex;
    flex-direction: row;
}
@mixin flexCol {
    display: flex;
    flex-direction: column;
}
@mixin button {
    color: $textcolor;
    background-color: $maincolor;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 14%;
    padding-top: 6%;
    padding-bottom: 6%;
    font-weight: bold;
    cursor: -webkit-zoom-in;
    cursor: pointer;
}
@mixin bordertop{
    border-top: solid 5px $maincolor;
}
@mixin input{
    height: 4vh;
    width: 85%;
    background: $secondarybg;
    border: none;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid $maincolor;
    font-size: 1rem;
    color: $textcolor;
}