@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
.catalogue {
  margin: 0;
  padding: 1%;
  text-transform: uppercase;
}

.catalogue h2 {
  position: fixed;
}

.catalogue__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.homeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.homeSection__slider {
  width: 100%;
  position: relative;
}

.homeSection__slider__img {
  width: 100%;
}

.homeSection__slider__text {
  position: absolute;
  margin-top: 10%;
  margin-left: 2%;
}

.homeSection__slider__text h2 {
  font-size: 3rem;
}

.homeSection__slider__text h3 {
  color: #C600FF;
  font-size: 2rem;
}

.homeSection__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  padding: 1%;
  margin: auto;
  border-top: solid 5px #C600FF;
}

.homeSection__products__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5%;
}

.homeSection__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.homeSection__image__item {
  border-top: solid 5px #C600FF;
  width: 100%;
}

.signin {
  width: 25%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.signin__newclient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signin__newclient__title {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 5%;
}

.signin__newclient__createaccount {
  color: white;
  background-color: #C600FF;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 14%;
  padding-top: 6%;
  padding-bottom: 6%;
  font-weight: bold;
  cursor: -webkit-zoom-in;
  cursor: pointer;
  padding: 2.5%;
  width: 50%;
  margin-left: 25%;
}

.signin__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10%;
  border-bottom: 2px solid #C600FF;
}

.signin__form__input {
  height: 4vh;
  width: 85%;
  background: black;
  border: none;
  text-align: center;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #C600FF;
  font-size: 1rem;
  color: white;
}

.signin__submit {
  color: white;
  background-color: #C600FF;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 14%;
  padding-top: 6%;
  padding-bottom: 6%;
  font-weight: bold;
  cursor: -webkit-zoom-in;
  cursor: pointer;
  padding: 2.5%;
  text-align: center;
  width: 50%;
  margin-left: 25%;
}

.signin__forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  text-align: center;
  color: white;
}

.singleproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.singleproduct__content {
  margin: auto;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.singleproduct__content__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
}

.singleproduct__content__images__main {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.singleproduct__content__images__main > img {
  width: 100%;
  text-align: center;
}

.singleproduct__content__images__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.singleproduct__content__images__second > img {
  border-top: solid 5px #C600FF;
  width: 20%;
}

.singleproduct__content__desc {
  font-size: 1rem;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  line-height: 1.5em;
}

.singleproduct__content__desc > h3 {
  color: #C600FF;
  text-transform: uppercase;
}

.singleproduct__content__desc__items__price {
  text-align: right;
  font-weight: bold;
}

.singleproduct__content__desc__items__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.singleproduct__content__desc__items__quantity button {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: #C600FF;
  color: white;
}

.singleproduct__content__desc__items__quantity * {
  margin: 0 0.5rem;
}

.singleproduct__content__desc > button {
  color: white;
  background-color: #C600FF;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 14%;
  padding-top: 6%;
  padding-bottom: 6%;
  font-weight: bold;
  cursor: -webkit-zoom-in;
  cursor: pointer;
}

.signup {
  width: 25%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.signup__form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.signup__form__identifiants__title {
  color: white;
  text-align: center;
}

.signup__form__identifiants__input {
  height: 4vh;
  width: 85%;
  background: black;
  border: none;
  text-align: center;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #C600FF;
  font-size: 1rem;
  color: white;
}

.signup__form__perso {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__form__perso__input {
  height: 4vh;
  width: 85%;
  background: black;
  border: none;
  text-align: center;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #C600FF;
  font-size: 1rem;
  color: white;
}

.signup__form__submit {
  color: white;
  background-color: #C600FF;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 14%;
  padding-top: 6%;
  padding-bottom: 6%;
  font-weight: bold;
  cursor: -webkit-zoom-in;
  cursor: pointer;
  padding: 3%;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 1.5rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2%;
}

.card__img {
  width: 80%;
  text-align: center;
  margin-bottom: 20%;
}

.card__info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__info__text {
  font-weight: bold;
}

.card__info__text__title {
  text-transform: uppercase;
}

.card__info__link {
  width: 50%;
  text-align: right;
}

.card__info__link__button {
  color: white;
  background-color: #C600FF;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 14%;
  padding-top: 6%;
  padding-bottom: 6%;
  font-weight: bold;
  cursor: -webkit-zoom-in;
  cursor: pointer;
  display: inline;
}

header {
  background-color: black;
  padding: 1%;
  border-bottom: solid 5px #C600FF;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.navbar {
  margin-right: auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar ul:nth-child(2) {
  margin-left: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar ul:nth-child(2) li:nth-child(1) {
  margin-right: 2rem;
}

.navbar li a:hover {
  color: #C600FF;
}

.navbar__list {
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list li:nth-child(1) {
  text-align: center;
}

.navbar__list__deroulant_declencheur {
  cursor: pointer;
}

.navbar__list__deroulant {
  display: none;
  position: absolute;
  background: #0B050F;
  padding: 1%;
  padding-top: 0;
}

.navbar__list__deroulant_declencheur:hover ul {
  display: list-item;
}

.navbar__list__deroulant_declencheur:hover ul li {
  float: none;
  margin-top: 10%;
}

.navbar__list__logo img {
  width: 50%;
}

.navbar__list__logo__second {
  width: 50%;
}

.navbar__list:nth-child(2) {
  width: 50%;
}

footer {
  text-align: center;
  background-color: black;
  width: 100%;
  list-style-type: none;
  border-top: solid 5px #C600FF;
}

footer > div:nth-child(3) {
  text-align: right;
}

footer > div:nth-child(1) {
  text-align: left;
}

footer > div:nth-child(2) {
  text-align: center;
}

.footersection {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footersection > div:nth-child(3) {
  text-align: right;
}

.footersection > div:nth-child(1) {
  text-align: left;
}

.footersection > div:nth-child(2) {
  text-align: center;
}

.loading {
  width: 15%;
  margin: auto;
}

.productlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.contnair-list {
  width: 80%;
  margin-left: 15%;
}

.filters {
  width: 20%;
  margin-top: 2%;
  text-align: left;
  position: fixed;
}

.filters__list__item {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 10%;
}

.return {
  width: 3%;
  margin: 1%;
  position: absolute;
}

.addcartnotif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eee8f0ff;
  width: 60vh;
  border-radius: 20px;
  padding: 1%;
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 1000000000;
}

.addcartnotif__img {
  width: 10%;
  padding-right: 3%;
}

.addcartnotif__img:hover {
  cursor: pointer;
}

.addcartnotif__notif {
  color: black;
  font-size: 1.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.addcartnotif:hover {
  cursor: pointer;
}

html, body {
  font-family: "Spartan";
  height: 100%;
}

main {
  min-height: 100%;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

main > .catalogue {
  margin-top: -10%;
}

#root {
  height: 75%;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

body {
  min-height: 100%;
  background-color: #0B050F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul {
  list-style-type: none;
}
/*# sourceMappingURL=main.css.map */