@import "variables";
@import "function";
@import "account";
@import "cart";
@import "catalogue";
@import "config";
@import "home";
@import "signin";
@import "singleproduct";
@import "signup";
@import "./component/alerte";
@import "./component/card";
@import "./component/navbar";
@import "./component/footer";
@import "./component/loading";
@import "./component/productlist";
@import "./component/filters";


html,body{
    font-family: $titlefont;
    height: 100%;
    // min-height: 100%;
}
main{
    min-height: 100%;
    flex-grow: 100;
    display: flex;
    align-items: center;
}
#root{
    height: 75%;
}
*{
    margin: 0;
    padding: 0;
    color: $textcolor;
}
a{
    color: $textcolor;
    text-decoration: none;
}
body{
    min-height: 100%;
    background-color: $primarybg;
    @include flexCol;

}
ul{
    list-style-type: none;
}
