@import "variables";
@import "function";
@import "account";
@import "cart";
@import "catalogue";
@import "config";
@import "home";
@import "signin";
@import "./component/alerte";
@import "./component/card";
@import "./component/navbar";
@import "./component/footer";
@import "./component/loading";
@import "./component/productlist";
@import "./component/filters";


html{
    font-family: $titlefont;
}
*{
    margin: 0;
    padding: 0;
    color: $textcolor;
}
a{
    color: $textcolor;
    text-decoration: none;
}
body{
    background-color: $primarybg;
}
ul{
    list-style-type: none;
}