.signin {
    width: 420px;
    margin: 3em auto;
    border-radius: 1.5em;

    &__title {
        padding-top: 40px;
        color: $textcolor;
        font-size: 24px;
        text-align: center;
    }

    &__form {
        padding-top: 40px;

        &__input {
            width: 85%;
            color: $secondarybg;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: $secondarybg;
            padding: 10px 20px;
            padding-top: 20px;
            border: none;
            outline: none;
            box-sizing: border-box;
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            border: 0;
            z-index: 1;
            background-color: transparent;
            border-bottom: 2px solid $maincolor;
            font-size: 1rem;
            color: $textcolor;

        }
    }


    &__submit {
        border-radius: 5em;
        color: #fff;
        background: $maincolor;
        border: 0;
        padding-left: 50px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 25%;
        font-size: 20px;
    }

    &__forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        padding: 40px;
        text-align: center;
        color: $textcolor;

    }

    &__createaccount {
        margin-top: 30px;
        border-radius: 5em;
        color: #fff;
        background: $maincolor;
        border: 0;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 17%;
        font-size: 20px;
    }

}