.signin {
    width: 420px;
    margin: 7em auto;
    border-radius: 1.5em;

    &__title {
        padding-top: 40px;
        color: $textcolor;
        font-weight: bold;
        font-size: 23px;
        text-align: center;
    }

    &__form {
        padding-top: 40px;

        &__input {
            width: 76%;
            color: $secondarybg;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            background: $secondarybg;
            padding: 10px 20px;
            border: none;         
            outline: none;
            box-sizing: border-box;
            border: 2px solid rgba(0, 0, 0, 0.02);
            margin-bottom: 50px;
            margin-left: 46px;
            text-align: center;
            margin-bottom: 27px;
            border: 0;
            z-index: 1;
            background-color: transparent;
            border-bottom: 2px solid $maincolor; 
             font-size: 1.125rem;
             color: $textcolor;
    
        }
    }


    &__submit {
        border-radius: 5em;
        color: #fff;
        background: $maincolor;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-left: 33%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }

    &__forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        padding: 40px;
        text-align: center;
        color: $textcolor;

    }

}