.signup {
    width: 25%;
    height: 60vh;
    @include flexCol;
    margin: auto;
    justify-content: space-around;
    text-align: center;


    

    &__form {
        height: 100%;
        @include flexCol;
        justify-content: space-around;

        &__identifiants{

            
            &__title {
                color: $textcolor;
                text-align: center;
            }
            &__input{
                @include input;
            }
            
        }
        &__perso{
            @include flexCol;
            
            &__input{
                @include input;
            }
        }
        &__submit {
            @include button;
            padding: 3%;
            padding-right: 5%;
            padding-left: 5%;
            font-size: 1.5rem;
            
        }
    }

}