.signin {
    width: 25%;
    height: 60vh;
    @include flexCol;
    margin: auto;
    justify-content: space-around;
    text-align: center;


    &__newclient{
    @include flexCol;
        justify-content: space-between;

    &__title {
        color: $textcolor;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 5%;
    }

    &__createaccount {
        @include button;
        padding: 2.5%;
        width: 50%;
        margin-left: 25%;
    }
    }
    

    &__form {
        @include flexCol;
        height: 30%;
        justify-content: space-between;
        padding-bottom: 10%;
        border-bottom: 2px solid $maincolor;

        &__input {
            @include input;

        }
    }


    &__submit {
        @include button;
        padding: 2.5%;
        text-align: center;
        width: 50%;
        margin-left: 25%;
    }

    &__forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        text-align: center;
        color: $textcolor;

    }

    

}