.singleproduct{
    
    @include flexCol;

    &__content{
    margin: auto;
    width: 70%;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
    @include flexRow;
        &__images{
            @include flexCol;
            justify-content: center;
            align-items: flex-start;
            width: 60%;
            &__main{
                align-self: flex-start;
                border-bottom: solid 3px $maincolor;
                margin-bottom: 1%;
                & > img{
                    width: 100%;
                    text-align: center;
                }
            }
            &__second{
                @include flexRow;
                & > img{
                    width: 20%;
                }
            }
        }

        &__desc{
            font-size: 1rem;
            width: 40%;
            @include flexCol;
            justify-content: space-around;
            text-align: left;
            line-height: 1.5em;

            & > h3{
                    color: $maincolor;
                    text-transform: uppercase;
                }

            &__items{
                

                &__price{
                    text-align: right;
                    font-weight: bold;
                }
                &__quantity{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        font-size: large;
                        font-weight: bold;
                        cursor: pointer;
                        padding: 5px 10px;
                        border-radius: 10px;
                        border: none;
                        background-color: $maincolor;
                        color: $textcolor;
                    }

                    & * {
                        margin: 0 0.5rem
                    }
                }
            }

            & > button{
                @include button;
            }
        }
    }
}