.singleproduct{
    
    @include flexCol;

    &__return{

    }

    &__content{
    margin: auto;
    width: 80%;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    @include flexRow;
        &__images{
            width: 50%;
            &__main{
                & > img{
                    width: 60%;
                    text-align: center;
                }
            }
            &__second{
                @include flexRow;
                & > img{
                    @include bordertop;
                    width: 20%;
                }
            }
        }

        &__desc{
            font-size: 1.5rem;
            width: 30%;
            text-transform: uppercase;
            @include flexCol;
            justify-content: space-around;
            text-align: center;

            &__items{
                font-weight: bold
            }

            & > button{
                @include button;
            }
        }
    }
}