@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');

$titlefont : 'Spartan';
$primarybg : #0B050F;
$maincolor : #C600FF;
$textcolor : white;
$secondarybg : black;
